.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(15,23,42,.45);

    display:flex;

    justify-content:center;

    align-items:center;

    z-index:999;

}

.modal{

    width:650px;

    background:white;

    border-radius:20px;

    padding:35px;

    box-shadow:0 20px 60px rgba(0,0,0,.18);

}

.modal h2{

    color:#12344D;

    margin-bottom:25px;

}

.form-group{

    display:flex;

    flex-direction:column;

    margin-bottom:20px;

}

.form-group label{

    margin-bottom:8px;

    font-weight:600;

}

.form-group input,
.form-group select,
.form-group textarea{

    padding:14px;

    border:1px solid #D9E2EC;

    border-radius:12px;

    font-size:15px;

}

.form-group textarea{

    resize:none;

}

.modal-buttons{

    display:flex;

    justify-content:flex-end;

    gap:15px;

    margin-top:25px;

}

.cancel-btn{

    background:#E2E8F0;

    border:none;

    padding:12px 20px;

    border-radius:12px;

    cursor:pointer;

}

.save-btn{

    background:#12344D;

    color:white;

    border:none;

    padding:12px 20px;

    border-radius:12px;

    cursor:pointer;

}