.tasks-container{

padding:20px;

}


.tasks-header h1{

font-size:32px;

margin-bottom:5px;

}


.tasks-header p{

color:#64748b;

}



.task-create{

display:flex;

gap:12px;

margin:30px 0;

}



.task-create input{

padding:12px;

border-radius:10px;

border:1px solid #ddd;

flex:1;

}



.task-create button{

background:#2563eb;

color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}



.task-card{

display:flex;

align-items:center;

gap:15px;

background:white;

padding:18px;

border-radius:16px;

margin-bottom:15px;

box-shadow:0 4px 12px rgba(0,0,0,.08);

}



.task-info{

flex:1;

}



.task-info h3{

margin:0;

}


.task-info p{

color:#64748b;

}



.task-check input{

width:22px;

height:22px;

}



.completed{

opacity:.6;

}


.completed h3{

text-decoration:line-through;

}



.delete-task{

border:none;

background:none;

font-size:20px;

cursor:pointer;

}